#panel1, #panel2, #panel3, #panel4, #panel5, #panel6, #panel7, #panel8, #panel9, #panel10 {
    position: relative;
    overflow: hidden;
}

@keyframes changeColor {
    0% {
        filter: hue-rotate(0deg) brightness(0.8) saturate(0.8);
    }
    50% {
        filter: hue-rotate(180deg) brightness(0.6) saturate(0.6);
    }
    100% {
        filter: hue-rotate(360deg) brightness(0.8) saturate(0.8);
    }
}

.svg {
    position: absolute;
    animation: changeColor 10s infinite;

    &.mini {
        width: 20px;
        height: 20px;
    }
    &.small {
        width: 80px;
        height: 80px;
    }
    &.normal {
        width: 200px;
        height: 200px;
    }
    &.big {
        width: 350px;
        height: 350px;
    }
    &.jumbo {
        width: 500px;
        height: 500px;
    }

    &.d135 {
        transform: rotate(135deg);
    }
    &.d-135 {
        transform: rotate(-135deg);
    }
    &.d45 {
        transform: rotate(45deg);
    }
    &.d-45 {
        transform: rotate(-45deg);
    }

    &.TL {
        top: -200px;
        left: -200px;
    }
    &.TR {
        top: -200px;
        right: -200px;
    }
    &.BL {
        bottom: -180px;
        left: -180px;
    }
    &.BR {
        bottom: -180px;
        right: -180px;
    }
}