@import url('./vars.css');

#panel1, #panel2, #panel3, #panel4, #panel5, #panel6, #panel7, #panel8, #panel9, #panel10 {
    position: relative;
    overflow: hidden;
}

@keyframes changeColor {
    0% {
        filter: hue-rotate(0deg) brightness(0.8) saturate(0.6);
    }
    50% {
        filter: hue-rotate(180deg) brightness(0.6) saturate(0.6);
    }
    100% {
        filter: hue-rotate(360deg) brightness(0.8) saturate(0.6);
    }
}
@keyframes reverseColor {
    100% {
        filter: hue-rotate(0deg) brightness(0.8) saturate(0.6);
    }
    50% {
        filter: hue-rotate(180deg) brightness(0.6) saturate(0.6);
    }
    0% {
        filter: hue-rotate(360deg) brightness(0.8) saturate(0.6);
    }
}
@keyframes delayColor1 {
    50% {
        filter: hue-rotate(180deg) brightness(0.8) saturate(0.6);
    }
    100% {
        filter: hue-rotate(360deg) brightness(0.6) saturate(0.6);
    }
    50% {
        filter: hue-rotate(180deg) brightness(0.8) saturate(0.6);
    }
    0% {
        filter: hue-rotate(0deg) brightness(0.8) saturate(0.6);
    }
}
@keyframes delayColor2 {
    50% {
        filter: hue-rotate(180deg) brightness(1) saturate(0.8);
    }
    0% {
        filter: hue-rotate(0deg) brightness(1) saturate(0.8);
    }
    50% {
        filter: hue-rotate(180deg) brightness(1) saturate(0.8);
    }
    100% {
        filter: hue-rotate(360deg) brightness(1) saturate(0.8);
    }
}
@keyframes delayColor3 {
    50% {
        filter: hue-rotate(180deg) brightness(0.8) saturate(0.6);
    }
    100% {
        filter: hue-rotate(0deg) brightness(0.6) saturate(0.6);
    }
    50% {
        filter: hue-rotate(180deg) brightness(0.8) saturate(0.6);
    }
    0% {
        filter: hue-rotate(360deg) brightness(0.8) saturate(0.6);
    }
}
@keyframes delayColor4 {
    50% {
        filter: hue-rotate(180deg) brightness(1) saturate(0.8);
    }
    0% {
        filter: hue-rotate(360deg) brightness(1) saturate(0.8);
    }
    50% {
        filter: hue-rotate(180deg) brightness(1) saturate(0.8);
    }
    100% {
        filter: hue-rotate(0deg) brightness(1) saturate(0.8);
    }
}
@keyframes colorblind {
    0% {
        filter: hue-rotate(0deg) brightness(20) saturate(0.3);
    }
    25% {
        filter: hue-rotate(90deg) brightness(20) saturate(0.3);
    }
    50% {
        filter: hue-rotate(180deg) brightness(20) saturate(0.3);
    }
    75% {
        filter: hue-rotate(270deg) brightness(20) saturate(0.3);
    }
    100% {
        filter: hue-rotate(360deg) brightness(20) saturate(0.3);
    }
}

.svg {
    position: absolute;
    /*animation: changeColor 25s infinite;
    */


    &.reverseColor {
        animation: reverseColor 25s infinite;
    }
    &.colorblind {
        animation: colorblind 10s infinite;
    }
    &.delayColor1 {
        animation: delayColor1 15s infinite;
    }
    &.delayColor2 {
        animation: delayColor2 15s infinite;
    }
    &.delayColor3 {
        animation: delayColor3 15s infinite;
    }
    &.delayColor4 {
        animation: delayColor4 15s infinite;
    }



    &.mini {
        width: 20vw;
        height: 20vh;
    }
    &.small {
        width: 80vw;
        height: 80vh;
    }
    &.normal {
        width: 200vw;
        height: 200vh;
    }
    &.big {
        width: 50%;
        height: 50%;
    }
    &.jumbo {
        width: 100vw;
        height: 100vh;
    }
    &.jumbo2 {
        width: 92vw;
        height: 92vh;
    }
    &.mega {
        width: 600vw;
        height: 600vh;
    }


    
    &.d10 {
        transform: rotate(10deg);
    }
    &.d30 {
        transform: rotate(30deg);
    }
    &.d-30 {
        transform: rotate(-30deg);
    }
    &.d45 {
        transform: rotate(45deg);
    }
    &.d-45 {
        transform: rotate(-45deg);
    }
    &.d60 {
        transform: rotate(60deg);
    }
    &.d-60 {
        transform: rotate(-60deg);
    }
    &.d90 {
        transform: rotate(90deg);
    }
    &.d-90 {
        transform: rotate(-90deg);
    }
    &.d135 {
        transform: rotate(135deg);
    }
    &.d-135 {
        transform: rotate(-135deg);
    }
    &.d180 {
        transform: rotate(180deg);
    }

    .d0 {
        transform: rotate(0deg);
    }
    .d6 {
        transform: rotate(6deg);
    }
    .d12 {
        transform: rotate(12deg);
    }
    .d18 {
        transform: rotate(18deg);
    }
    .d24 {
        transform: rotate(24deg);
    }
    .d36 {
        transform: rotate(36deg);
    }
    .d42 {
        transform: rotate(42deg);
    }
    .d48 {
        transform: rotate(48deg);
    }
    .d54 {
        transform: rotate(54deg);
    }
    .d66 {
        transform: rotate(66deg);
    }
    .d72 {
        transform: rotate(72deg);
    }
    .d78 {
        transform: rotate(78deg);
    }
    .d84 {
        transform: rotate(84deg);
    }
    .d90 {
        transform: rotate(90deg);
    }
    .d96 {
        transform: rotate(96deg);
    }
    .d102 {
        transform: rotate(102deg);
    }
    .d108 {
        transform: rotate(108deg);
    }
    .d114 {
        transform: rotate(114deg);
    }
    .d120 {
        transform: rotate(120deg);
    }
    .d126 {
        transform: rotate(126deg);
    }
    .d132 {
        transform: rotate(132deg);
    }
    .d138 {
        transform: rotate(138deg);
    }
    .d144 {
        transform: rotate(144deg);
    }
    .d150 {
        transform: rotate(150deg);
    }
    .d156 {
        transform: rotate(156deg);
    }
    .d162 {
        transform: rotate(162deg);
    }
    .d168 {
        transform: rotate(168deg);
    }
    .d174 {
        transform: rotate(174deg);
    }
    .d186 {
        transform: rotate(186deg);
    }
    .d192 {
        transform: rotate(192deg);
    }
    .d198 {
        transform: rotate(198deg);
    }
    .d204 {
        transform: rotate(204deg);
    }
    .d210 {
        transform: rotate(210deg);
    }
    .d216 {
        transform: rotate(216deg);
    }
    .d222 {
        transform: rotate(222deg);
    }
    .d228 {
        transform: rotate(228deg);
    }
    .d234 {
        transform: rotate(234deg);
    }
    .d240 {
        transform: rotate(240deg);
    }
    .d246 {
        transform: rotate(246deg);
    }
    .d252 {
        transform: rotate(252deg);
    }
    .d258 {
        transform: rotate(258deg);
    }
    .d264 {
        transform: rotate(264deg);
    }
    .d270 {
        transform: rotate(270deg);
    }
    .d276 {
        transform: rotate(276deg);
    }
    .d282 {
        transform: rotate(282deg);
    }
    .d288 {
        transform: rotate(288deg);
    }
    .d294 {
        transform: rotate(294deg);
    }
    .d300 {
        transform: rotate(300deg);
    }
    .d306 {
        transform: rotate(306deg);
    }
    .d312 {
        transform: rotate(312deg);
    }
    .d318 {
        transform: rotate(318deg);
    }
    .d324 {
        transform: rotate(324deg);
    }
    .d330 {
        transform: rotate(330deg);
    }
    .d336 {
        transform: rotate(336deg);
    }
    .d342 {
        transform: rotate(342deg);
    }
    .d348 {
        transform: rotate(348deg);
    }
    .d354 {
        transform: rotate(354deg);
    }
    .d360 {
        transform: rotate(360deg);
    }

    &.d177 {
        transform: rotate(177deg);
    }
    &.d174 {
        transform: rotate(174deg);
    }
    &.d171 {
        transform: rotate(171deg);
    }
    &.d168 {
        transform: rotate(168deg);
    }
    &.d165 {
        transform: rotate(165deg);
    }
    &.d162 {
        transform: rotate(162deg);
    }
    &.d159 {
        transform: rotate(159deg);
    }
    &.d156 {
        transform: rotate(156deg);
    }
    &.d153 {
        transform: rotate(153deg);
    }
    &.d150 {
        transform: rotate(150deg);
    }
    &.d147 {
        transform: rotate(147deg);
    }
    &.d144 {
        transform: rotate(144deg);
    }
    &.d141 {
        transform: rotate(141deg);
    }
    &.d138 {
        transform: rotate(138deg);
    }
    &.d135 {
        transform: rotate(135deg);
    }
    &.d132 {
        transform: rotate(132deg);
    }
    &.d129 {
        transform: rotate(129deg);
    }
    &.d126 {
        transform: rotate(126deg);
    }
    &.d123 {
        transform: rotate(123deg);
    }
    &.d120 {
        transform: rotate(120deg);
    }

    &.d183 {
        transform: rotate(183deg);
    }
    &.d186 {
        transform: rotate(186deg);
    }
    &.d189 {
        transform: rotate(189deg);
    }
    &.d192 {
        transform: rotate(192deg);
    }
    &.d195 {
        transform: rotate(195deg);
    }
    &.d198 {
        transform: rotate(198deg);
    }
    &.d201 {
        transform: rotate(201deg);
    }
    &.d204 {
        transform: rotate(204deg);
    }
    &.d207 {
        transform: rotate(207deg);
    }
    &.d210 {
        transform: rotate(210deg);
    }
    &.d213 {
        transform: rotate(213deg);
    }
    &.d216 {
        transform: rotate(216deg);
    }
    &.d219 {
        transform: rotate(219deg);
    }
    &.d222 {
        transform: rotate(222deg);
    }
    &.d225 {
        transform: rotate(225deg);
    }
    &.d228 {
        transform: rotate(228deg);
    }
    &.d231 {
        transform: rotate(231deg);
    }
    &.d234 {
        transform: rotate(234deg);
    }
    &.d237 {
        transform: rotate(237deg);
    }
    &.d240 {
        transform: rotate(240deg);
    }


    
    &.TBorder {
        position: absolute;
        top: 0;
        left: 0;
        height: 15%;
        width: 100%;
        object-fit: cover;
    }
    &.RBorder {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 15%;
        object-fit: cover;
    }
    &.LBorder {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 15%;
        object-fit: cover;
    }
    &.BBorder {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 15%;
        width: 100%;
        object-fit: cover;
    }

    &.LowRBorder {
        position: absolute;
        bottom:   var(--lowborderY);
        right:    var(--lowborderX);
        height: 100%;
        width: 15%;
        object-fit: cover;
    }
    &.LowLBorder {
        position: absolute;
        bottom:   var(--lowborderY);
        left:     var(--lowborderX);
        height: 100%;
        width: 15%;
        object-fit: cover;
    }

    &.TLBorder {
        position: absolute;
        top:    var(--corner3);
        left:   var(--corner2);
        height: var(--border1);
        width: var(--border2);
        object-fit: cover;
    }
    &.TRBorder {
        position: absolute;
        top:    var(--corner3);
        right:  var(--corner2);
        height: var(--border1);
        width: var(--border2);
        object-fit: cover;
    }
    &.BLBorder {
        position: absolute;
        bottom: var(--corner3);
        left:   var(--corner2);
        height: var(--border1);
        width: var(--border2);
        object-fit: cover;
    }
    &.BRBorder {
        position: absolute;
        bottom: var(--corner3);
        right:  var(--corner2);
        height: var(--border1);
        width: var(--border2);
        object-fit: cover;
    }

    &.TLBig {
        top:    var(--corner1);
        left:   var(--corner1);
    }
    &.TRBig {
        top:    var(--corner1);
        right:  var(--corner1);
    }
    &.BLBig {
        bottom: var(--corner1);
        left:   var(--corner1);
    }
    &.BRBig {
        bottom: var(--corner1);
        right:  var(--corner1);
    }

    &.TLJumbo {
        top:    var(--tl-y);
        left:   var(--tl-x);
    }
    &.TRJumbo {
        top:    var(--tl-y);
        right:  var(--tl-x);
    }
    &.BLJumbo {
        bottom: var(--tl-y);
        left:   var(--tl-x);
    }
    &.BRJumbo {
        bottom: var(--tl-y);
        right:  var(--tl-x);
    }

    &.BLMega {
        bottom: -510vh;
        left: -250vw;
    }

    &.bannerbg {
        align-self: center;
        bottom: 5%;
        left: 0.75%;
        right: 0;
    }
    &.banner {
        fill: aliceblue;
        align-self: center;
        bottom: 9%;
        left: 4.75%;
        right: 0;
        animation: none;
        
    }

    .stalagmite {
        width: 35%;
        height: 20%;
        transform-origin: bottom;
    }
}

.stalagmite-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%; /* Altura de las estalagmitas */
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* 6 columnas para 6 estalagmitas */
    gap: 10px; /* Espacio entre estalagmitas */
    justify-items: center;
    align-items: end;
    padding: 0 10px; /* Padding para evitar que toquen los bordes */
}

.saturate0 { filter: saturate(0); }
.brightness20 { filter: brightness(20); }

.grayscale { filter: grayscale(100%); }
.contrast { filter: contrast(160%); }
.blur { filter: blur(3px); }
.invert { filter: invert(100%); }
.sepia { filter: sepia(100%); }
.huerotate { filter: hue-rotate(180deg); }
.rss.opacity { filter: opacity(50%); }