:root {
    --fontSize: 1.5rem;

    --edge-clamp-y-g: clamp(-200vh, -175vh, -175vh);
    --edge-clamp-x-g: clamp(-215vw, -175vw, -175vh);
    --edge-clamp-y-g2: clamp(-120vh, -175vh, -175vh);
    --edge-clamp-x-g2: clamp(-300vw, -150vw, -300vh);
}

/*
Define dentro de root todas las variables que quieras
Usa @import url('./vars.css'); cuando crees un nuevo archivo css para poder usar esas variables.
Ya añadi la importacion a index.css
*/